.App {
  text-align: center;
}

.fm{
  display: inline-block;
  background-color: lightcoral;
  padding: 20px;
}
.dv{
  margin: 15px;
}
.name{
  display: inline-block;
  width: 100px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: darksalmon;
  font-size: 2rem;
}